<h1 class="text-center m-20" style="margin-bottom: 20px;margin-top: 150px;"><%= pluralize(@activities.count, "Result") %></h1>


<div class="card-container">
  <div class="cards col-sm-6 col-lg-12">
    <% @activities.each do |activity| %>
    <div class="card-product">
      <img src="https://source.unsplash.com/random/?<%= activity.title %>"/>
        <p><strong><%= link_to activity.title.capitalize(), activity %></strong>
        <br>
        <%= activity.location %>
        <br>
        $<%= activity.price%>/hr
        <br>
        More info
        </p>
     </div>
      <% end %>
  </div>
</div>
