<h1 class="text-center"><%= pluralize(@activities.count, "Result") %></h1>

<div class="container">
  <table class="table table-light table-striped">
    <thead>
      <tr>
        <th><%= sort_link(@query, :title, "Title", defualt_order: :asc) %></th>
        <th><%= sort_link(@query, :description, "Description") %></th>
        <th><%= sort_link(@query, :location, "Location") %></th>
        <th><%= sort_link(@query, :level, "Level") %></th>
        <th><%= sort_link(@query, :username, "Organiser") %></th>
        <th><%= sort_link(@query, :username, "Price") %></th>
        <th><%= sort_link(@query, :username, "Group Size") %></th>
      </tr>
    </thead>

    <tbody>
      <% @activities.each do |activity|  %>
        <tr>
          <td><%= link_to activity.title, activity %></td>
          <td><%= activity.description.truncate_words(25) %></td>
          <td><%= activity.location %></td>
          <td><%= activity.level %></td>
          <td></td>
          <%# <td><%= @users[activity.user_id][:username]</td> %>
          <td><%= activity.price  %></td>
          <td><%= activity.group_size  %></td>
        </tr>
      <% end  %>
    </tbody>
  </table>
</div>
