<div class="main-container">
  <div id="activities" class="flex-item-1">
    <h1>CLOSE TO THE FINISH LINE</h1>
  </div>
    <div class="flex-item-2">
        <%= simple_form_for [ @activity, @booking ] do |f| %>
        <%= f.input :start_time, :as => :datetime %>
        <%= f.input :end_time, :as => :datetime %>
        <%= f.input :spots_required, input_html: { min: '1', max: @activity.group_size  }%>
        <%= f.submit "Book", class:"btn btn-primary" %>
        <%= f.button :button do %>
          <button type="button"  class="btn btn-outline-primary"><%= link_to "Back to the activity", activity_path(@activity) %></button>
        <% end %>
      <% end %>
    </div>
</div>
