<div class="form-container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>New Booking</h1>
        <%= simple_form_for [ @activity, @booking ] do |f| %>
        <%= f.input :start_time, :as => :datetime %>
        <%= f.input :end_time, :as => :datetime %>
        <%= f.input :spots_required, input_html: { min: '1', max: '25' }%>
        <%= f.submit "Book", class:"btn btn-success" %>
        <%= f.button :button do %>
          <button type="button" class="btn btn-success"><%= link_to "Back to the activity", root_path %></button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
