<div class= "container-navbar" style="display: unset">
  <div class="position-sticky sticky-top navbar navbar-expand-sm navbar-light navbar-lewagon " data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
    <div class="container-fluid" style="padding-left:80px;margin-top:20px;padding-right:80px ">
      <%= link_to activities_path() do %>
        <%= image_tag "sportsmate.png", alt: "Sportsmate", width: 150 %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <form class="d-flex" id="activity_search" action="/search" accept-charset="UTF-8" method="get" style="padding-right: 20px;">
              <%= render 'search/form' %>
            </form>

            <li class="nav-item active" style="padding-right: 20px;">

            <strong><%= link_to "Dashboard", pages_path(), class: "nav-link" %></strong>

            </li>

            <li class="nav-item nav-link">

            <p>Hi, <%= current_user.username.capitalize %></p>

            </li>

            <li class="nav-item dropdown">
              <%= image_tag "avatar.png", width: "100px", alt: "current_user.username", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My profile", "#", class: "dropdown-item" %>
                <%= link_to "Settings", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>

          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
