<div class="main-container">
  <div id="activities" class="flex-item-1">
    <h1>PLAY BY YOUR RULES</h1>
  </div>
    <div class="flex-item-2">
      <div class="details-form pd-2 mb-4">
        <%= simple_form_for(@activity) do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :level, :collection => %w[Beginner Intermediate Advance]%>
          <%= f.input :location %>
          <%= f.input :price, input_html: { min: '0', step: '1' }%>
          <%= f.input :group_size, input_html: { min: '1', max: '25' }%>
          <%= f.submit "Create Activity", class: "btn btn-primary" %>
          <%= f.button :button do %>
          <button type="button" class="btn btn-outline-primary"><%= link_to "Back to Activities", activities_path %></button>
        <% end %>
        <% end %>
      </div>
    </div>
</div>
