<div class="activity-show-container">
  <div class="row justify-content-center">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/?<%=@activity.title %>)">
      <%=@activity.title%>
    </div>
    <div class="col-6 m-2 p-2">
      <p >Description : <%=  @activity.description %></p>
      <p>Level : <%= @activity.level %></p>
      <p>Location : <%= @activity.location %></p>
      <p>Price : $<%= @activity.price %></p>
      <p>Group size : <%= @activity.group_size %></p>
      <button type="button" class="btn btn-success"><%= link_to "Book", new_activity_booking_path(@activity) %></button>
      <% if policy(@activity).edit? %>
        <button type="button" class="btn btn-success"><%= link_to "Edit", edit_activity_path(@activity) %></button>
      <% end %>
    </div>
  </div>
</div>
