<div id="container-activity-page">
  <div class="flex-container-activity">
    <div class="flex-item-activity">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/?<%=@activity.title %>)">
      </div>
    </div>
    <div class="flex-item-activity">
      <div class="activity-show-container">
        <div class="row justify-content-center align-center">
          <div class="content_booking">
            <div class="col-18 m-2 p-2">
              <div class="title">
                <h1><%=@activity.title.upcase %></h1>
                <a class="username_link" href="">by <%=@activity.user.username.capitalize %></a>
              </div>
              <div class= "descrition pt-3">
                <p><%=  @activity.description %></p>
              </div>
                <div class= "details pt-3">
                  <div class= "d-flex pb-1">
                    <%= image_tag "icons/level_icon.png", width: "40px", height: "40px", alt: "Level", class: "icon" %>
                    <p class="flex-grow text-left pt-2 mb-1"> <%= @activity.level %></p>
                  </div>
                  <div class= "d-flex pb-1">
                    <%= image_tag "icons/people_icon.png", width: "40px", height: "40px", alt: "People", class: "icon" %>
                    <p class="flex-grow text-left pt-2 mb-1"> up to <%= @activity.group_size %> people</p>
                  </div>
                  <div class= "d-flex pb-1">
                    <%= image_tag "icons/price_icon.png", width: "40px", height: "40px", alt: "Price", class: "icon" %>
                    <p class="flex-grow text-left pt-2 mb-1">$<%= @activity.price %>/per hr</p>
                  </div>
                  <div class= "d-flex pb-1">
                    <%= image_tag "icons/location_icon.png", width: "40px", height: "40px", alt: "Location", class: "icon" %>
                    <p class="flex-grow text-left pt-2 mb-1"><%= @activity.location %></p>
                  </div>
                </div>
              </div>
              <% if policy(@activity).book? %>
                <button type="button" class="btn btn-primary"><%= link_to "Book", new_activity_booking_path(@activity) %></button>
              <% end %>
              <% if policy(@activity).edit? %>
                <button type="button" class="btn btn-outline-primary"><%= link_to "Edit", edit_activity_path(@activity) %></button>
              <% end %>
              <% if policy(@activity).destroy? %>
                <button type="button" class="btn-outline-primary><%=link_to "Delete",
                    activity_path(@activity),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></button>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
