<div class="activity-show-container">
  <div class="row justify-content-center">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/?<%=@activity.title %>)">
      <%=@activity.title%>
    </div>
    <div class="col-6 m-2 p-2">
      <p><%= @activity.description %></p>
      <p><%= @activity.level %></p>
      <p><%= @activity.location %></p>
      <p>$<%= @activity.price %></p>
      <p><%= @activity.group_size %></p>
    </div>
  </div>
</div>
